{
  "extends": "airbnb-base",
  "plugins": ["jest"],
  "env": {
    "jest/globals": true
  },
  "rules": {
    "strict": ["off", "'use strict'; is still required in CommonJS modules."],
    "no-console": ["off"],
    "func-names": ["off"]
  }
}